.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 0;
  background: black;
  color: white;
  padding: 0.6rem;
  width: 100vw;
  flex-direction: column;
}
